
.system{
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    text-align: center;
    padding: 10px;
    grid-gap: 10px;
    border-bottom: 1px solid black;
}
lable {
    padding: 20px 10px;
    font-size: 25px;
}
select{
    padding: 10px 10px;
    background-color: white;
    color: gray;
    font-size: 20px;
    border: 1px solid gray;
    margin-bottom: 40px;

}
.ram , .hard-disk{
    color: white;
    background-color: #3182BF;
}
